/* --------- Overall header styling --------- */
header {
    height: 100vh;
    padding-top: 3rem;
    overflow: hidden;
}

.header__container {
    text-align: center;
    height: 100%;
    position: relative;
}

/* --------- Links to resume and messaging --------- */
.cta {
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

/* --------- Links to social media --------- */
.social__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    position: absolute;
    left: 0;
    bottom: 10rem;
    font-size: 25px;
}

/* --------- Make the image take up less space and give it some spice  --------- */
.kevin {
    background: linear-gradient(var(--color-primary), transparent);
    width: 25rem;
    position: absolute;
    border-radius: 50px;
    left: calc(50% - 12.5rem);
    margin-top: 2rem;
    border-radius: 10rem 10rem;
    padding: 1rem 2rem;
}

/* ---------------------MEDIA QUERIES (tablets and such)---------------------- */
@media screen and (max-width: 1024px) {
    header {
        height: 100vh;
    }

}

/* ---------------------MEDIA QUERIES (mobile phones and such)---------------------- */
@media screen and (max-width: 600px) {
    header {
        height: 100vh;
    }

    .social__links {
        bottom: 33rem;
    }
}
